@inherits LayoutComponentBase

<div class="wrapper d-flex align-items-stretch">
			<NavMenu />

        <!-- Page Content  -->
      <div id="content" class="p-5 p-md-5" style="margin-top: 40px;">
    @Body
</div>
      
</div>
