
    <nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <h1><a href="/" class="logo">Asset QR</a></h1>
    <ul class="list-unstyled components mb-5">
        <li>
            <NavLink class="nav-link" href="/home" Match="NavLinkMatch.All">
                <span class="fa fa-home mr-3"></span> Dashboard
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/addasset">
                <span class="fa fa-user mr-3"></span> Add Asset
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/viewaddedasset">
                <span class="fa fa-sticky-note mr-3"></span> View Added Assets
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/subscription">
                <span class="fa fa-sticky-note mr-3"></span> Subscription
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/settings">
                <span class="fa fa-paper-plane mr-3"></span> Settings
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/information">
                <span class="fa fa-paper-plane mr-3"></span> Information
            </NavLink>
        </li>
        <li>
            <a href="/logout" class="nav-link">
                <span class="fa fa-sign-out-alt mr-3"></span> Logout
            </a>
        </li>
    
    </ul>

</nav>

